@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1b4b; /* Midnight Blue */
}

section {
  scroll-margin-top: 80px; /* adjust to navbar height */
}